body {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

#compositions {
  grid-column: 3;
  grid-row: 1;
}

#strudel {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}
